@media (width > 767px) {
 /* .Maptohome{
    height: 600px;
    width: 768px;
   background-image: url(Assets/Map/Tablet-map.svg);
 } */

 .Mapheader{
   height: 600px;
   width: 768px;
  background-image: url(Assets/Map/Tablet-map.svg);
 }


 .Backtohome{
    padding-left: 39px;
 }

 .Kingstreet{
   padding: 0;
 }

 .MapBlackbox{
    width: 768px;
    height: 436px;
    position: relative;
    padding-left: 330px;
    padding-top: 88px;
 }

 .MapLocation{
    padding: 0;
    width: 223px;
    font-size: 55px;
    line-height: 90.909%;
    text-transform: uppercase;
    position: absolute;
    left: 39px;
    top: 88px;
 }

 .Ournewly{
   width: 398px;
 }

 .MapOrangebox{
   width: 768px;
   height: 216px;
   display: flex;
   flex-direction: row;
   position: relative;
 }

 .Isfree{
   padding-top: 56px;
   padding-left: 65px;
   width: 321px;
   line-height: 162.5%; 
 }

 .MapOrangebox img{
  position: absolute;
  right: 40px;
  top: 56px;
 }

}